
*.cache
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/A_Merchants_Tale.csproj.CoreCompileInputs.cache
A_Merchants_Tale/.vs/A_Merchants_Tale/v15/.suo
A_Merchants_Tale/.vs/A_Merchants_Tale/v15/sqlite3/storage.ide
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/A_Merchants_Tale.exe
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/A_Merchants_Tale.pdb
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.Direct2D1.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.Direct3D11.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.Direct3D9.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.DXGI.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.MediaFoundation.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.XAudio2.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.XInput.xml
A_Merchants_Tale/A_Merchants_Tale/bin/Windows/x86/Debug/SharpDX.xml
A_Merchants_Tale/A_Merchants_Tale/Content/obj/Windows/.mgcontent
A_Merchants_Tale/A_Merchants_Tale/Content/obj/Windows/Textures/Static/BackGround.mgcontent
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/A_Merchants_Tale.csproj.CoreCompileInputs.cache
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/A_Merchants_Tale.csproj.FileListAbsolute.txt
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/A_Merchants_Tale.exe
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/A_Merchants_Tale.pdb
A_Merchants_Tale/A_Merchants_Tale/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
